.navbar{
    background-color: #b1bfd8;
    background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);

    padding-top:20px;
    padding-bottom:20px;
   
}

#homeLink{
    color:rgb(224, 223, 223);
    font-size:1.9em;
    letter-spacing:2px;
    font-weight:bold;
    margin-top:3px;
    margin-bottom:3px;
    margin-left:10px;
}
